.__mskit_invisible {
  visibility: hidden !important;
}

.__mskit_invisible * {
  visibility: hidden !important;
}

.__mskit_invisible::after {
  content: "" !important;
}

.__mskit_mask {
  color: transparent !important;
  border: 0px solid transparent !important;
  outline: 0 solid red !important;
  user-select: none !important;
  position: relative !important;
  overflow: hidden !important;
  pointer-events: none !important;
  filter: blur(0px) !important;
}

.__mskit_mask.__mskit_dark {
  background: #333 !important;
}

.__mskit_mask.__mskit_light {
  background: #fff !important;
}

.__mskit_mask.__mskit_glass {
  background: rgb(150 183 255 / 10%) !important;
  color: transparent !important;
  text-shadow: 0 0 15px rgb(200 200 200 / 50%) !important;
  box-shadow: inset -5px 20px 2px -20px #fff, inset 5px -20px 2px -20px #fff, inset -19px 1px 2px -20px #000, inset 19px 1px 2px -20px #000, inset 19px 1px 2px -20px #000, inset -15px -26px 3px -30px #000 !important;
  border-radius: 10px !important;
}

.__mskit_mask.__mskit_glass::before {
  content: "" !important;
  position: absolute !important;
  inset: 1px !important;
  box-shadow: inset -5px 20px 2px -20px #fff, inset 5px -20px 2px -20px #fff, inset -19px 1px 2px -20px #000, inset 19px 1px 2px -20px #000, inset 19px 1px 2px -20px #000, inset -15px -26px 3px -30px #000 !important;
  border-radius: 10px !important;
}

.__mskit_mask.__mskit_glass * {
  visibility: visible !important;
  filter: blur(15px) !important;
}

.__mskit_mask.__mskit_steel {
  background: radial-gradient(#ffffff54 2px, transparent 0) 0 0/40px 40px, radial-gradient(#00000026 2px, transparent 0) -1px 1px/40px 40px, radial-gradient(ellipse at 150% -50%, #6d788f, #fff) !important;
  box-shadow: inset -5px 20px 2px -20px #fff, inset 5px -20px 2px -20px #fff, inset -19px 1px 2px -20px #000, inset 19px 1px 2px -20px #000, inset 19px 1px 2px -20px #000, inset -15px -26px 3px -30px #000 !important;
}

.__mskit_mask.__mskit_soothing {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%) !important;
}

.__mskit_mask.__mskit_lilly {
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%) !important;
}

.__mskit_mask.__mskit_rose {
  background: linear-gradient(90deg, #ffafbd 0%, #ffc3a0 100%) !important;
}

.__mskit_mask.__mskit_sky {
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%) !important;
}

.__mskit_mask.__mskit_ocean {
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%) !important;
}

.__mskit_mask * {
  visibility: hidden !important;
}

.__mskit_mask::after {
  content: attr(data-mask-content) !important;
  color: #9b9b9b !important;
  text-shadow: 0 0 2px white !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  visibility: visible !important;
  font-size: 6px !important;
  font-size: clamp(6px, 1cqw, 24px) !important;
}

.__mskit_mask .__mskit_mask::after {
  content: "" !important;
}

.__mskit_mask-selector {
  cursor: crosshair !important;
}

.__mskit_mask-selector iframe,
.__mskit_mask-selector a,
.__mskit_mask-selector button,
.__mskit_mask-selector input,
.__mskit_mask-selector select,
.__mskit_mask-selector textarea {
  pointer-events: none !important;
}

.__xmskit_mask-selector-hover {
  outline: 2px dashed greenyellow !important;
}
